$yz-title-color: #333;
$yz-text-color: #333;
$yz-hints-text-color: #999;
$yz-tips-text-color: #666;
$yz-background-color: #fafafa;
$yz-section-backgroun-color: #fff;
$yz-placeholder-text-color: #999;
$yz-bottom-primary-text-color: #fff;
$yz-bottom-primary-background-color: blue;
